<h2>Unsubscribe to the Observable Form</h2>
<div class="div-container">
    <div class="sub-container">
        <h2>Subscriber 1</h2>
        <hr />
        <div class="data-list" *ngFor="let x of data1">
            {{x}}
        </div>
            <button (click)="OnSubscribe1()">Subscribe</button>
            <button (click)="OnUnSubscribe1()">UnSubscribe</button>
    </div>


    <div class="sub-container">
        <h2>Subscriber 2</h2>
        <hr />
        <div class="data-list" *ngFor="let x of data2">
            {{x}}
        </div>
            <button (click)="OnSubscribe2()">Subscribe</button>
            <button (click)="OnUnSubscribe2()">UnSubscribe</button>
    </div>


    <div class="sub-container">
        <h2>Subscriber 3</h2>
        <hr />
        <div class="data-list" *ngFor="let x of data3">
            {{x}}
        </div>
            <button (click)="OnSubscribe3()">Subscribe</button>
            <button (click)="OnUnSubscribe3()">UnSubscribe</button>
    </div>
</div>