<!-- <div class="container">
    <h2>Observables in Angular</h2>
    <div class="data-list" *ngFor="let x of data">
        {{x}}
    </div>
    <button class="button" (click)="GetAsyncData()">Get Data</button>
</div> -->
<!-- <div id="container">
</div>
<button class="button" #createBtn>Create a Items</button>
</div> -->




<!-- <app-signals></app-signals> -->
<!-- <app-signals-counter></app-signals-counter> -->
<!-- <app-signal-update></app-signal-update> -->
<!-- <app-hooks></app-hooks> -->
<!-- <p appCustomDirective>Apply custom directive</p> -->
<!-- <app-new-task></app-new-task>
<app-show-task></app-show-task> -->
<app-subject></app-subject>

